**
!dist/extension.js
!server/src/server.js
!node_modules/vscode-languageserver/**
!node_modules/vscode-languageserver-textdocument/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
!node_modules/vscode-jsonrpc/**
!node_modules/tree-sitter/**
!node_modules/node-addon-api/**
!node_modules/node-gyp-build/**
!node_modules/prebuild-install/**
!node_modules/detect-libc/**
!node_modules/node-abi/**
!node_modules/napi-build-utils/**
!grammar/bindings/node/**
!grammar/src/**
!grammar/queries/**
!grammar/build/**
!grammar/package.json
!grammar/binding.gyp
!client/language-configuration.json
!package.json
!README.md
!LICENSE
